.h1{
    color: rgb(255, 255, 255);
    font: 600 2.5rem/3.125rem "Open Sans", sans-serif;
    text-align: center;
}
.h2{
    color: rgb(255, 255, 255);
    font: 200 2.5rem/3.125rem "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}
.align-img{
    margin-top: 3rem;
    width: 30.5%;
    height: 35%;
    margin-right: 28px;
}