body,
html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

body,
p {
    color: #4b4b4b;
    font-family: "DIN Next Rounded LT W01 Regular";
	font-size: 16px;
}

.p-large {
    font-family: "DIN Next Rounded LT W01 Regular";
	font-size: 22px;
}

.p-small {
	font-family: "DIN Next Rounded LT W01 Regular";
	font-size: 16px;
}

h1,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font: 700 2.5rem/3.125rem "Feather bold", sans-serif;
    letter-spacing: -0.2px;
}

h2 {
    color:  #9370DB;
    font: 700 2rem/2.625rem "Feather bold", sans-serif;
    letter-spacing: -0.2px;
}

h3,
.h3 {
    font: 700 1.625rem/2.125rem "Feather bold", sans-serif;
    letter-spacing: -0.2px;
}

h3 {
    color: #4b4b4b;
}

.h3 {
    color: rgb(187, 9, 9);
}

h4 {
    font: 700 1.375rem/1.75rem "Feather bold", sans-serif;
    letter-spacing: -0.1px;
}

h5 {
    font: 700 1.125rem/1.5rem "Feather bold", sans-serif;
    letter-spacing: -0.1px;
}

h6 {
    font: 700 1rem/1.375rem "Feather bold", sans-serif;
    letter-spacing: -0.1px;
}

.above-heading {
    color:  #9370DB;
    font: 700 0.75rem/0.875rem "Feather bold", sans-serif;
    text-align: center;
}

.p-heading {
    margin-bottom: 3.25rem;
}

.li-space-lg li {
    margin-bottom: 0.375rem;
}

.indent {
    padding-left: 1.25rem;
}

a {
    color: #555;
    text-decoration: underline;
	font-family: "DIN Next Rounded LT W01 Regular";
	font-size: 16px;
}

a:hover {
    color: #555;
    text-decoration: underline;
}

.decorative-line {
    display: block;
    width: 5rem;
    height: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}

.blue {
    color:  #9370DB;
}

.btn-solid2,
.btn-solid-lg,
.btn-outline-reg,
.btn-outline-lg,
.btn-outline-sm {
    display: inline-block;
    border: 0.125rem solid  #9370DB;
    border-radius: 2rem;
    font: 700 0.875rem/0 "Feather bold", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid2,
.btn-solid-lg {
    background-color:  #9370DB;
    color: #fff;
}

.btn-solid2:hover,
.btn-solid-lg:hover {
    background-color: transparent;
    color:  #9370DB;
}

.btn-outline-reg,
.btn-outline-lg,
.btn-outline-sm {
    background-color: transparent;
    color:  #9370DB;
}

.btn-outline-reg:hover,
.btn-outline-lg:hover,
.btn-outline-sm:hover {
    background-color:  #9370DB;
    color: #fff;
}

.btn-solid2 {
    padding: 1.1875rem 2.125rem;
}

.btn-solid-lg {
    padding: 1.375rem 2.625rem;
}

.btn-outline-reg {
    padding: 1.1875rem 2.125rem;
}

.btn-outline-lg {
    padding: 1.375rem 2.625rem;
}

.btn-outline-sm {
    padding: 0.875rem 1.5rem;
}

.form-group {
    position: relative;
    margin-bottom: 1.25rem;
}

.label-control {
    position: absolute;
    top: 0.87rem;
    left: 1.25rem;
    color: #555;
    opacity: 1;
    font: 400 0.875rem/1.375rem "Feather bold", sans-serif;
    cursor: text;
    transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
    top: 0.125rem;
    opacity: 1;
    font-size: 0.75rem;
    font-weight: 700;
}

.form-control-input,
.form-control-select,
.form-control-textarea {
    display: block;
    width: 100%;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #555;
    font: 400 0.875rem/1.875rem "Feather bold", sans-serif;
    transition: all 0.2s;
}

.form-control-input,
.form-control-select {
    padding-left: 1.25rem;
}

.form-control-input {
    padding-top: 1.0625rem;
    padding-bottom: 0.0625rem;
}

.form-control-select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 3rem;
}

.form-control-textarea {
    height: 8rem;
    padding-top: 1.25rem;
    padding-left: 1.3125rem;
    font: 400 0.875rem/1.75rem "Feather bold", sans-serif;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
    border: 1px solid #a1a1a1;
    outline: none;
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
    border: 1px solid #a1a1a1;
}

.checkbox {
    font: 400 0.75rem/1.25rem "Feather bold", sans-serif;
}

input[type='checkbox'] {
    vertical-align: -15%;
    margin-right: 0.375rem;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    .label-control {
        top: 0.9375rem;
    }
    .form-control-input {
        padding-top: 1.25rem;
        padding-bottom: 0.75rem;
        line-height: 1.75rem;
    }
    .form-control-select {
        padding-top: 0.875rem;
        padding-bottom: 0.75rem;
        height: 3.125rem;
        line-height: 2.125rem;
    }
    input[type='checkbox'] {
        vertical-align: -9%;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none;
}

/*************************/
/*     02. Preloader     */
/*************************/
.loading-ball {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem;
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color:  #9370DB;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		transform: scale(0);
	}
	40% { 
		transform: scale(1.0);
	}
}

/*************************/
/*     03. Navigation     */
/*************************/
.navbar-custom {
	background-color:  #9370DB;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.875rem/0.875rem "Feather bold", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .container {
	max-width: 87.5rem;
}

.navbar-custom .navbar-brand.logo-image img {
	width: 6rem;
	height: 5rem;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 2rem/1.5rem "Feather bold", sans-serif;
	color: #fff;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem;
	color: #f7f5f5;
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #fff;
	opacity: 1;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block;
	min-width: auto;
	animation: fadeDropdown 0.2s;
}

@keyframes fadeDropdown {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.navbar-custom .dropdown-toggle:focus {
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #9370DB;
}

.navbar-custom .dropdown-item {
	color: #f7f5f5;
	opacity: 0.8;
	font: 700 0.875rem/0.875rem "Feather bold", sans-serif;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color:  #9370DB;
	color: #fff;
	opacity: 1;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto;
	border: none;
	background-color: #c4d8dc;
	opacity: 0.2;
}

.navbar-custom .nav-item .btn-outline-sm {
	margin-top: 0.25rem;
	margin-bottom: 1.375rem;
	margin-left: 0.5rem;
	border: 0.125rem solid #fff;
	color: #fff;
}

.navbar-custom .nav-item .btn-outline-sm:hover {
	background-color: #fff;
	color:  #9370DB;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times {
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars {
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars {
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times {
	display: inline-block;
	margin-right: 0.25rem;
}

/*********************/
/*    04. Header     */
/*********************/
.header {
	background-color:  #9370DB;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 1rem;
	color: #fff;
	font-size: 2.5rem;
	line-height: 3rem;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #f3f7fd;
}

.header .btn-solid-lg {
	margin: 0 0.5rem 1.125rem;
	border-color: #f3f7fd;
	background-color: #f3f7fd;
	color:  #9370DB;
}

.header .btn-solid-lg:hover {
	background: transparent;
	color: #f3f7fd;
}

.header .btn-outline-lg {
	border-color: #f3f7fd;
	color: #f3f7fd;
}

.header .btn-outline-lg:hover {
	background-color: #f3f7fd;
	color:  #9370DB;
}

.header-frame {
	margin-top: -1px; 
	width: 100%;
	height: 2.25rem;
}

.slider-1 {
	padding-top: 5rem;
	padding-bottom: 3.25rem;
}

.slider-1 .slider-container {
	text-align: center;
}

/***************************/
/*     05. Descrição     */
/***************************/
.cards-1 {
	padding-top: 3.25rem;
	padding-bottom: 3rem;
	text-align: center;
}
.cards-1 .h2-heading {
	margin-bottom: 3.5rem;
	color: #4b4b4b;
}
.cards-1 .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 3.5rem;
	margin-left: auto;
	padding: 0;
	border: none;
	background-color: #ffffff;
}
.cards-1 .card-image {
	max-width: 16rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}
.cards-1 .card-title {
	margin-bottom: 0.5rem;
	color: #4b4b4b;
}
.cards-1 .card-body {
	padding: 0;
}

/***************************/
/*     06. Linguagens     */
/***************************/
.tabs {
	padding-top: 8rem;
	padding-bottom: 8.125rem;
	background-color: #ffffff;
}

.tabs .h2-heading,
.tabs .p-heading {
	text-align: center;
	color: #4b4b4b;
}

.tabs .nav-tabs {
	display: block;
	margin-bottom: 2.25rem;
	border-bottom: none;
}

.tabs .nav-link {
	padding: 0.375rem 1rem 0.375rem 1rem;
	border: none;
	color: #86929b;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link:hover,
.tabs .nav-link.active {
	background: transparent;
	color:  #9370DB;
}

.tabs .nav-link .fas {
	margin-right: 0.625rem;
}

.tabs .image-container {
	margin-bottom: 2.75rem;
}

.tabs .list-un .fas {
	color:  #9370DB;
	font-size: 0.5rem;
	line-height: 1.625rem;
}

.tabs .list-un .media-body {
	margin-left: 0.625rem;
}

.tabs #tab-1 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-1 .list-un {
	margin-bottom: 1.5rem;
}

.tabs #tab-2 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-2 .list-un {
	margin-bottom: 1.5rem;
}

.tabs #tab-3 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-3 .list-un {
	margin-bottom: 1.5rem;
}


/***************************/
/*     07. boxes     */
/***************************/
.box-basic {
	margin: 2.5rem auto;
	padding: 2rem 1.5rem 2rem 1.5rem;
	border-radius: 0.25rem;
	background: #fff;
	text-align: left;
}

.box-basic .container {
	padding-right: 0;
	padding-left: 0;
}

.box-basic .image-container {
	max-width: 33.75rem;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-left: auto;
}

.box-basic h3 {
	margin-bottom: 0.5rem;
}

.box-basic hr {
	width: 2.5rem;
	height: 0.125rem;
	margin-top: 0;
	margin-bottom: 0.875rem;
	margin-left: 0;
	border: 0;
	background-color:  #9370DB;
	text-align: left;
}

.box-basic h4 {
	margin-bottom: 1rem;
}

.box-basic .list-un .fas {
	color: #9370DB;
	font-size: 0.5rem;
	line-height: 1.625rem;
}

.box-basic .list-un .media-body {
	margin-left: 0.625rem;
}

.box-basic .btn-outline-reg,
.box-basic .btn-solid2 {
	margin-top: 0.75rem;
}

.h7{
	color: #555;
	font: 400 1rem/1.625rem "Feather bold", sans-serif;;
}
.h8{
	color: #555;
	font: 700 1.625rem/2.125rem "Feather bold", sans-serif;
	letter-spacing: -0.2px;
}

.box-basic a.mfp-close.as-button {
	position: relative;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	color:  #9370DB;
	opacity: 1;
}
.box-basic a.mfp-close.as-button:hover {
	color: #fff;
}
.box-basic button.mfp-close.x-button {
	position: absolute;
	top: -0.125rem;
	right: -0.125rem;
	width: 2.75rem;
	height: 2.75rem;
	color: #707984;
}

/***********************/
/*     08. Detalhes     */
/***********************/
.basic-1 {
	padding-top: 7.5rem;
	padding-bottom: 8rem;
}
.basic-1 .text-container {
	margin-bottom: 3.75rem;
}
.basic-1 .list-un {
	margin-bottom: 1.375rem;
}
.basic-1 .list-un .fas {
	color:  #9370DB;
	font-size: 0.5rem;
	line-height: 1.625rem;
}
.basic-1 .list-un .media-body {
	margin-left: 0.625rem;
}

/*********************/
/*     9. Video     */
/*********************/
.basic-2 {
	padding-top: 8rem;
	padding-bottom: 6.75rem;
	background-color: #f3f7fd;
	text-align: center;
}
.basic-2 .image-container {
	margin-bottom: 2rem;
}
.basic-2 .image-container img {
	border-radius: 0.75rem;
}
.basic-2 .video-wrapper {
	position: relative;
}

.basic-2 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.basic-2 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	background:  #9370DB;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.basic-2 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border-radius: 50%;
	background:  #9370DB;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.basic-2 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #fff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}
@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
.basic-2 .p-heading {
	margin-bottom: 1rem;
}

/**************************/
/*     12. Newsletter     */
/**************************/
.form {
	padding-top: 4rem;
	padding-bottom: 6rem;
}

.form .text-container {
	margin-bottom: 3.5rem;
	padding: 3.5rem 1rem 2.5rem 1rem;
	border-radius: 0.5rem;
	background-color: #f3f7fd;
}

.form h2 {
	margin-bottom: 2.75rem;
	text-align: center;
}

.form .icon-container {
	text-align: center;
}

.checktext{
	color: #434c54;
}


/**********************/
/*     13. rodape     */
/**********************/
.rodape-frame {
	width: 100%;
	height: 1.5rem;
}

.rodape {
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	background-color:  #9370DB;
}

.rodape .rodape-col {
	margin-bottom: 2.25rem;
}

.rodape h4 {
	margin-bottom: 0.625rem;
	color: #fff;
}

.rodape .list-un,
.rodape p {
	color: #f3f7fd;
}

.rodape .rodape-col.middle .list-un .fas {
	color: #fff;
	font-size: 0.5rem;
	line-height: 1.5rem;
}

.rodape .rodape-col.middle .list-un .media-body {
	margin-left: 0.5rem;
}

.rodape .rodape-col.last .list-un .fas {
	color: #fff;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.rodape .rodape-col.last .list-un .media-body {
	margin-left: 0.625rem;
}

.rodape .rodape-col.last .list-un .fas.fa-globe {
	margin-left: 1rem;
	margin-right: 0.625rem;
}


/*************************/
/*     14. Copyright     */
/*************************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 0.375rem;
	background-color:  #9370DB;
	text-align: center;
}

.copyright .p-small {
	padding-top: 1.375rem;
	border-top: 1px solid #718ad1;
	color: #f3f7fd;
}

.copyright a {
	color: #f3f7fd;
	text-decoration: none;
}
/*****************************/
/*     15. Responsividade     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* Estilos gerais */
.p-heading {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}
.h2-heading {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
	/* Header */
.header .text-container {
	margin-bottom: 4rem;
}
.header h1 {
	font-size: 3.5rem;
	line-height: 4.125rem;
}
.header .btn-solid-lg {
	margin-bottom: 0;
	margin-left: 0;
}
.header-frame {
	height: 5.5rem;
}
	/* Newsletter */
.form .text-container {
	padding: 4rem 2.5rem 3rem 2.5rem;
}
.form form {
	margin-right: 4rem;
	margin-left: 4rem;
}
	/* rodape */
.rodape-frame {
	height: 5rem;
}
}
/* Min-width width 992px */
@media (min-width: 992px) {
	/* Navbar */
.navbar-custom {
	padding: 1.125rem 1.5rem 2.125rem 2rem;
    background: transparent;
	box-shadow: none;
}
.navbar-custom .navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-custom .nav-item .nav-link {
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}	
.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	opacity: 1;
}
.navbar-custom.top-nav-collapse {
    padding: 0.5rem 1.5rem 0.5rem 2rem;
	background-color:  #9370DB;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
}
.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
	color: #fff;
}
.navbar-custom .dropdown-menu {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 0.25rem solid rgba(0, 0, 0, 0);
	border-radius: 0.25rem;
}
.navbar-custom.top-nav-collapse .dropdown-menu {
	border-top: 0.25rem solid rgba(0, 0, 0, 0);
	box-shadow: 0 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.02);
}
.navbar-custom .dropdown-item {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.navbar-custom .dropdown-items-divide-hr {
	width: 84%;
}
.navbar-custom .nav-item .btn-outline-sm {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1rem;
}
	/* Estilos gerais */
.p-heading {
	width: 65%;
}
.h2-heading {
	width: 60%;
}
	/* Header */
.header .header-content {
	text-align: left;
}
.header .text-container {
	margin-top: 4rem;
	margin-bottom: 0;
}
.header .image-container {
	position: relative;
	margin-top: 3rem;
}
.header .image-container .img-wrapper {
	position: absolute;
	display: block;
	width: 470px;
}
.header-frame {
	height: 8rem;
}
	/* Description */
.cards-1 .card {
	display: inline-block;
	width: 17rem;
	max-width: 100%;
	margin-right: 1rem;
	margin-left: 1rem;
	vertical-align: top;
}
.cards-1 .card-image {
	width: 9rem;
}
	/* Features */
.tabs .nav-tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 2.75rem;
} 
.tabs .nav-link {
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	border-bottom: 2px solid rgb(202, 202, 202);
}
.tabs .nav-link:hover,
.tabs .nav-link.active {
	border-bottom: 2px solid  #9370DB;
}
.tabs .image-container {
	margin-bottom: 0;
}
	/* Features boxes */
.box-basic {
	max-width: 62.5rem;
	padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}
.box-basic .image-container {
	max-width: 100%;
	margin-right: 2rem;
	margin-bottom: 0;
	margin-left: 0.5rem;
}
.box-basic h3 {
	margin-top: 0.5rem;
}
	/* Details */
.basic-1 {
	padding-top: 8rem;
}
.basic-1 .text-container {
	margin-bottom: 0;
}
	/* Video */
.basic-2 .image-container {
	max-width: 53.125rem;
	margin-right: auto;
	margin-left: auto;
}
.basic-2 p {
	width: 65%;
	margin-right: auto;
	margin-left: auto;
}
	/* Newsletter */
.form .text-container {
	width: 55rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5rem;
	padding-bottom: 4.5rem;
}
.form h2 {
	margin-right: 7rem;
	margin-left: 7rem;
}
.form form {
	margin-right: 9rem;
	margin-left: 9rem;
}
}
/* Min-width width 1200px */
@media (min-width: 1200px) {
	/* Estilos gerais */
.h2-heading {
	width: 50%;
}
	/* Header */
.header .header-content {
	padding-top: 11rem;
	padding-bottom: 5rem;
}
.header .text-container {
	margin-top: 5.5rem;
	margin-right: 0.5rem;
}
.header .image-container {
	margin-top: 1rem;
	margin-left: 1.5rem;
}
.header .image-container .img-wrapper {
	width: 630px;
}
.header-frame {
	height: 9.375rem;
}
	/* Customer */
.slider-1 .slider-container {
	margin-right: 3rem;
	margin-left: 3rem;
}
	/* Description */
.cards-1 .card {
	width: 18.875rem;
	margin-right: 2rem;
	margin-left: 2rem;
}
.cards-1 .card-image {
	width: 12.5rem;
}
	/* Features */
.tabs .image-container {
	margin-right: 1.5rem;
	margin-left: 1rem;
}
.tabs .text-container {
	margin-top: 1.5rem;
	margin-right: 1rem;
	margin-left: 1.5rem;
}
	/* Details */
.basic-1 .image-container {
	margin-right: 1rem;
	margin-left: 1.5rem;
}
.basic-1 .text-container {
	margin-top: 1rem;
	margin-right: 1.5rem;
	margin-left: 1rem;
}
.basic-1 h2 {
	margin-bottom: 1rem;
}
	/* Newsletter */
.form .text-container {
	width: 64.75rem;
	padding-top: 6rem;
	padding-bottom: 5.5rem;
}
.form h2 {
	margin-right: 12rem;
	margin-left: 12rem;
}
.form form {
	margin-right: 15rem;
	margin-left: 15rem;
}
	/* rodape */
.rodape .rodape-col.first {
	margin-right: 1.5rem;
}
.rodape .rodape-col.middle {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
}
.rodape .rodape-col.last {
	margin-left: 1.5rem;
}
}
